.table {
  border: 2px solid black;
  background-color: green;
  width: 650px;
  height: 650px;
  border-spacing: 0;
  padding: 0;
}

.cell {
  float: left;
  width: 5.5px;
  height: 5.5px;
  background-color: none;
}

.default {
  background-color: #ddd;
}

.highlighted {
  background-color: #aaa;
}
