button {
  display: block;
  margin: 2px auto;
  width: 514px;
  height: 30px;
  font-weight: bold;
}

.table {
  border: 2px solid black;
  background-color: black;
  width: 512px;
  height: 512px;
  border-spacing: 0;
  padding: 0;
  margin: 0 auto;
}

.cell {
  float: left;
  width: 5.5px;
  height: 5.5px;
  background-color: none;
}

.default {
  background-color: white;
}

.highlighted {
  background-color: #aaa;
}
